{% extends 'VirtualHealthBundle::main.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('virtual_health_task1') }}" role="button">Go to Task 1</a></p>
    </div>
{% endblock %}

