{% extends 'VirtualHealthBundle::main.html.twig' %}
{% block title %}{{ parent() }} - Задача 2{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Задача 2</h1>
    </div>
    <div class="jumbotron">
    <p>
        SQL­код: Подсчитать кол­во записей в tb_source, имеющих более 2 одинаковых вхождений по значениям поля NDC.
    </p>
    </div>
    <h3>SQL</h3>
    <pre>
SELECT
COUNT(*)
FROM `tb_source` s
WHERE s.`cx` IN (
SELECT r.cx
FROM `tb_rel` r
GROUP BY r.cx, r.`ndc`
HAVING COUNT(*) > 2
);
    </pre>
{% endblock %}